<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ page.description }}">
	<link rel="icon" type="image/ico" href="favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no, minimal-ui" />
	<link rel="icon" sizes="192x192" href="launcher-icon-4x.png">
	<link href='{{page.prefix}}fonts/SamsungOne/fonts.css' rel='stylesheet' type='text/css'>
	<link rel="manifest" href="{{page.prefix}}manifest.json">
	<title>{{ page.title }}</title>
	{% if page.image %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{ page.image }}">
	{% else %}
	<meta name="twitter:card" content="summary">
	{% endif %}
	<meta name="twitter:site" content="@{{ site.author.twitter }}">
	<meta name="twitter:creator" content="@{{ site.author.twitter }}">
	{% if page.title %}
	  <meta name="twitter:title" content="{{ page.title }}">
	{% else %}
	  <meta name="twitter:title" content="{{ site.name }}">
	{% endif %}
	{% if page.url %}
	  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	{% endif %}
	{% if page.description %}
	  <meta name="twitter:description" content="{{ page.description }}">
	{% else %}
	  <meta name="twitter:description" content="{{ site.description }}">
	{% endif %}
	<link rel="stylesheet" href="{{ site.baseurl }}/styles/slides.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/styles/post.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/styles/highlight.css">
	<script src="https://cdn.polyfill.io/v2/polyfill.js?features=Array.isArray,Array.from,default-3.6,Element.prototype.before,Array.prototype.find"></script>
	{% if page.style %}
	<link rel="stylesheet" href="{{page.style}}">
	{% endif %}
	{% if page.styles %}
	{% for item in page.styles %}
	<link rel="stylesheet" href="{{item}}">
	{% endfor %}
	{% endif %}
	{% if page.script %}
	<script src="{{page.script}}"></script>
	{% endif %}
	{% if page.scripts %}
	{% for item in page.scripts %}
	<script src="{{ item }}"></script>
	{% endfor %}
	{% endif %}
</head>
