---
# This file has the default styling information for the slideshow,
# tweak as required.
# it affects stuff like animations and thumbnails etc
---

.a-slides_clock {
	position: absolute;
    left: 0;
    top: 0;
    padding: 0.5em;
    margin: 0.5em;
    background: white;
    border: 1px solid grey;

	.presentation & {
		display: none;
	}
}

.a-slides_slide.active + .a-slides_slide ~ .a-slides_slide {
	display: none;
}

.a-slides_slide {
	background-color: lavenderblush;
	border: 1px solid grey;
	overflow: visible;
	margin: 0.25em 0.25em 0 0.25em;
	width: calc(100% - 0.5em);
	font-size: 150%;

	.presentation & {
		transition-duration: 0.5s !important;
		.a-slides_progress {
			z-index: 5;
		}
	}

	.a-slides_progress {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0.6em;
		background: #56A0CE;
		top: auto;
		border-top-right-radius: 1em;
		box-shadow: 0em -0.2em 0.7em -0.25em rgba(0,0,0,0.6);
	}

	.presentation & .a-slides_notes {
		display: none;
	}

	.a-slides_slide-content {
		transform: translate(0.4em, 1.25em) scale(0.4);
		z-index: 7;
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		align-content: flex-start;
		flex-direction: column;
		flex-grow: 1;
	}
}

footer {
	z-index: -1;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
